
$blue1: #3BABB6;
$blue2: #17263E;
$orange1: #D04C3C;
$orange2: #E6AB55;
$grey-font: #161616;

body {
	background-color: $orange1;
}

.subhead {
	display: block;
	font-size: .7em;
}

.photo {
	height: 100px;
}

.proj-head {
	background: $orange2;
}

.icons svg{
	height: 200px;
	width: 100px;
	fill: green;
}
.problem-node {
	height: 350px;
	background-color: $blue2;
	color: white;
	padding: 10px;
}

#react-slideshow {
	min-height: 500px;
}

.menu-space {
	margin-bottom: 40px;
}

.navbar-brand h1 {
	line-height: 0;
}

.selected {
	background-color: $blue1;
}







